<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Character Build App</title>
</head>
<body>
  <header>
    <section class="header">
      <div>
        <h1>Expedition 33 builds</h1>
        <h2>You are logged in</h2>
      </div>

      <div>
        <ul>
          <li><a href="/index.html">Home</a></li>
          <li><a href="/builds.html">Builds</a></li>
          <li>My Builds</li>
          <li>Guides</li>
          <li><a href="/login.html">Log in</a></li>
        </ul>
      </div>
    </section>
  </header>
  
  <main>
    <h1>Welcome to Expedition 33 builds</h1>
    <hr></hr>
    <p>
      This website will provide a way to store your builds for Expedition 33! 
      It will also provide some links to guides on how to build, and what the 
      different stats/attributes mean. 
    </p>
  </main>
</body>
</html>